{% extends 'product/page_modules/page_base.html' %}

{% block content %}
    <div class="product_catalog__box">
        <h1 class="product_catalog__header">Products</h1>
        {% include 'product/catalog/filter.html' %}

        {% include 'product/catalog/pagination.html' %}

        <div class="product_catalog__body">
            {% include 'product/catalog/list.html' %}
        </div>

        {% include 'product/catalog/pagination.html' %}
    </div>

{% endblock %}


