<div class="product__card__box">
    <a class="product__card__link" href="{% url 'product:detail' slug=product.slug %}">
        <div class="product__card__inner">
            <div class="product__card__body">
                <div class="product__card__header">
                    <span class="product__card__name">{{ product.name }}</span>
                </div>
                <div class="product__card__main">
                    <p class="product__card__name">
                        {{ product.description }}
                    </p>
                    <p class="product__card__price">
                        <span class="price__description">Price:</span>
                        <span class="price__value">{{ product.price }}</span>
                    </p>
                    <p class="product__card__like">
                        <span class="like__description">Like:</span>
                        <span class="like__value">{{ product.total_likes }}</span>
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>
