<form method="get" action="" class="form form__filter">
    <p>Sorting</p>
    <p>Order by:
        <select name="sort">
            {% for option_key, value in sort_settings.items %}
                <option value="{{ option_key }}">{{ value.verbose_name }}</option>
            {% endfor %}
        </select>
    </p>
    <p><input type="submit" value="Sort it"/></p>
</form>