{% load url_customizer %}

{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?{% url_replace page=page_obj.next_page_number %}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
