<div class="comment__card">
    <p>Posted by:
        <span class="user_name">{{ comment.user_name }}</span>
        on
        <span class="submit_date">{{ comment.submit_date|date:'Y.m.d G:i' }}</span>
    </p>
    <p>Comment: {{ comment.comment }}</p>
</div>
