<article class="product__box">
    <h1 class="product__header">{{ product.name }}</h1>
    <p class="product__description">{{ product.description }}</p>
    <p class="product__price">{{ product.price }}</p>
    <div class="likes__box">

        <a class ="likes__toggle" href="{{ product.get_like_url }}">
            <span class="likes__description">
                Likes:
            </span>
            <span class="likes__counter product__likes">
                {{ product.total_likes }}
            </span>
        </a>
    </div>


</article>