{% load comments %}

{% get_comment_form for product as form %}
<form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}


    <input type="hidden" name="next" value="{{ request.path }}" >


    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}

        {% else %}
            {% if field.name != "honeypot" %}
                <div class="form__field_wrap">
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}

                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                        <p class="form__help">{{ field.help_text | safe }}</p>
                    {% endif %}
                </div>
                {% else %}
                <input type="hidden" name="{{ field.name }}">
            {% endif %}
        {% endif %}

    {% endfor %}

    <input class="comment__button button__submit" name="post" type="submit" value="Post" >
{#    <input class="comment__button button__preview" type="submit" name="preview" value="Preview">#}

</form>