*{
    box-sizing: border-box;
    word-wrap: break-word;
}
body{
    font-size: 16px;
    text-align: center;

    background-color: #fafafa;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
}
.product__card__box{
    border: 1px solid grey;
}

.header__box{
    background-color: dodgerblue;
}
.main_menu__box{
    background-color: dodgerblue;
}
.product__box{
    background-color: white;
}
.footer__box{
    background-color: dodgerblue;
}
/* ---------[BEGIN]-[site]-----------*/
.site__box{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}
.site__content{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.site__header{}
/* ---------[END]-[site]-----------*/
/* ---------[BEGIN]-[header]-[menu]----------*/
.main_menu__box{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;

    background: dodgerblue;
}
.main_menu__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_menu{}
.main_menu__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    margin: 0;
}
.main_menu__item{
    list-style-type: none;
}
.main_menu__link{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    padding: 0.4em 0.6em;

    font-size: 1.5em;
}
.main_menu__link:hover {
    color: #bee4f3;
    text-shadow: 0 0 0.1em white;
}
/* ---------[END]-[header]-[menu]----------*/
/* ---------[BEGIN]-[product]-----------*/
.product__box{
    border: 1px solid grey;
    border-radius: 5px;

    background-color: white;
}
.product__description{
    padding: 0.5em;
}
/* ---------[END]-[product]-----------*/
/* ---------[BEGIN]-[comment]-----------*/
.comment__card{
    border: 1px solid grey;
    border-radius: 5px;

    background-color: white;
}
.comment__card .user_name{
    font-weight: bold;
}
.comment__card .submit_date{
    font-style: italic;
}
/* ---------[END]-[comment]-----------*/
.form__filter{
    border: 1px solid grey;
    border-radius: 5px;

    background-color: white;

    padding: 0.5em;
}