<div class="main_menu__box">
   <div class="main_menu__wrap">
       <nav class="main_menu">
           <ul class="main_menu__list">
               {% for menu_item in main_menu %}
                   <li class="main_menu__item">
                        <a class="main_menu__link" href="{{ menu_item.url }}">{{ menu_item.name }}</a>
                   </li>
               {% endfor %}
           </ul>
       </nav>
   </div>
</div>