{% load static %}

<!DOCTYPE {{ doctype|default:'html' }}>
<html lang="{{ html.lang|default:'en' }}">
    {% block html %}
        <head>
            {% block head %}
                {% include 'product/base_modules/first_tag_group.html' %}
                {% include 'product/base_modules/ie8_html5_support.html' %}


                {% block stylesheet_connect %}
                    <link rel="stylesheet" href="{% static 'css/product.css' %}">
                {% endblock stylesheet_connect %}


                <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
            {% endblock head %}
        </head>

        <body class="
            {% block body_classes %}
                site__box
                {% for class in body_classes %}
                    {{ class }}
                {% endfor %}
            {% endblock body_classes %}
        ">
            {% block body %}
                {% block header %}
                    <header class="site__header">
                        {% include 'product/page_modules/header_top.html' %}
                        {% include 'product/page_modules/main_menu.html' %}

                    {% endblock header %}
                </header>
                {% block main %}
                    <main class="site__content">
                        {% block content %}
                        {% endblock content %}
                    </main>
                {% endblock main %}
                {% block footer %}
                    {% include 'product/page_modules/footer.html' %}
                    <!-- Include all compiled plugins (below), or include individual files as needed -->
                    {% block javascript_connect %}

                    {% endblock javascript_connect %}
                {% endblock footer %}
            {% endblock body %}
        </body>
    {% endblock html %}
</html>